{% extends "index.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
        ITM | Reverse Image Search | Result Search
        {% endblock %}
    </title>
    {% block css %}
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    <link rel="stylesheet" href="../../static/style/searchPagestyle.css">
    {% endblock %}
</head>
<body>
    {% block navbar %}
    <section id="header">
        <a href="{{url_for('indexWithoutUser')}}"><img src="../static/logo.png" alt=""></a>
        <div>
            <ul id="navbar">
                <li><a href="/">หน้าหลัก</a></li>
                <li><a class="active" href="/search">ค้นหา</a></li>
                <li><a href="/shopping">ร้านค้า</a></li>
                <li><a href="/aboutUs">เกี่ยวกับเรา</a></li>
                <!-- <li><a href="#"><i class="fa-solid fa-user"></i></a></li> -->
                <div class="frame">
                    <a href="/sign_in"> <button class="custom-btn btn-10">Signin</button> </a>
                    <a href="/sign_up"> <button class="custom-btn btn-11">Signup</button> </a>
                </div>
            </ul>
        </div>
    </section>
    {% endblock %}

    {% block body %}
    <section id="product1" class="section-p1">
        <p>ผลลัพธ์การค้นหา</p>
        <div class="pro-container">
            {% for row in datas %}
            <div class="pro">
                <img src="{{url_for('static', filename='img_product_into_db/' + row.3)}}" alt="">
                <div class="des">
                    <span>{{row.7}}</span>
                    <h5>{{row.2}}</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>{{row.4}}</h4>
                </div>
            </div>
            {% endfor %}

            <!-- <div class="pro">
                <img src="../../static/img/products/ex1.jpg" alt="">
                <div class="des">
                    <span>ยี่ห้อ</span>
                    <h5>ชื่อ</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>ราคา</h4>
                </div>
            </div>
            <div class="pro">
                <img src="../../static/img/products/ex1.jpg" alt="">
                <div class="des">
                    <span>ยี่ห้อ</span>
                    <h5>ชื่อ</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>ราคา</h4>
                </div>
            </div>
            <div class="pro">
                <img src="../../static/img/products/ex1.jpg" alt="">
                <div class="des">
                    <span>ยี่ห้อ</span>
                    <h5>ชื่อ</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>ราคา</h4>
                </div>
            </div>
            <div class="pro">
                <img src="../../static/img/products/ex1.jpg" alt="">
                <div class="des">
                    <span>ยี่ห้อ</span>
                    <h5>ชื่อ</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>ราคา</h4>
                </div>
            </div>
            <div class="pro">
                <img src="../../static/img/products/ex1.jpg" alt="">
                <div class="des">
                    <span>ยี่ห้อ</span>
                    <h5>ชื่อ</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>ราคา</h4>
                </div>
            </div>
            <div class="pro">
                <img src="../../static/img/products/ex1.jpg" alt="">
                <div class="des">
                    <span>ยี่ห้อ</span>
                    <h5>ชื่อ</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>ราคา</h4>
                </div>
            </div>
            <div class="pro">
                <img src="../../static/img/products/ex1.jpg" alt="">
                <div class="des">
                    <span>ยี่ห้อ</span>
                    <h5>ชื่อ</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>ราคา</h4>
                </div>
            </div>
            <div class="pro">
                <img src="../../static/img/products/ex1.jpg" alt="">
                <div class="des">
                    <span>ยี่ห้อ</span>
                    <h5>ชื่อ</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>ราคา</h4>
                </div>
            </div> -->
        </div>
    </section>
    {% endblock %}

    {% block script %}
    <script src="static/javascript/searchScript.js"></script>
    {% endblock %}
</body>
</html>