{% extends "index.html" %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
        ITM | Reverse Image Search | SIGN IN
        {% endblock %}
    </title>
    {% block css %}
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    <link rel="stylesheet" href="../../static/style/loginPagestyle.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    {% endblock %}
</head>

<body>
    {% block navbar %}
    {% endblock %}

    {% block body %}
    <div id="login-page">
        <div class="login">
            <h2 class="login-title">Welcome to ITM Project</h2>
            <p class="notice">กรุณากรอกข้อมูลในช่องเพื่อเข้าสู่ระบบ</p>
            <form class="form-login" action="{{url_for('signInLogin')}}" method="post">
                <label for="email">E-mail</label>
                <div class="input-email">
                    <i class="fas fa-envelope icon"></i>
                    <input type="email" name="email" placeholder="Enter your e-mail" required>
                </div>
                <label for="password">Password</label>
                <div class="input-password">
                    <i class="fas fa-lock icon"></i>
                    <input type="password" name="password" placeholder="Enter your password" required>
                </div>
                <div class="checkbox">
                    <!-- <label for="remember">
                <input type="checkbox" name="remember">
                Remember me
              </label> -->
                </div>
                <button type="submit"><i class="fas fa-door-open"></i> Login </button>
            </form>
            <p>
                <a href="/sign_up">สร้างบัญชี</a>
                <a href="/">กลับหน้าหลัก</a>
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                {% for msg in messages %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <strong> {{msg}} </strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endfor %}
            {% endif %}
            {% endwith %}
            </p>
        </div>
        <div class="background">
        </div>
    </div>
    {% endblock %}
    {% block footer %}
    {% endblock %}
</body>

</html>