@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

* {
	box-sizing: border-box;
  }
  body {
	margin: 0;
	font-family: sans-serif;
  }
  a {
	color: #666;
	font-size: 14px;
	display: block;
	font-family: 'Noto Sans Thai', sans-serif;
  }
  .login-title {
	text-align: center;
  }
  #login-page {
	display: flex;
	font-family: 'Noto Sans Thai', sans-serif;
  }
  .notice {
	font-size: 13px;
	text-align: center;
	color: #666;
  }
  .login {
	width: 30%;
	height: 100vh;
	background: #FFF;
	padding: 70px;
  }
  .login a {
	margin-top: 25px;
	text-align: center;
	font-family: 'Noto Sans Thai', sans-serif;
  }
  .form-login {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	align-content: center;
  }
  .form-login label {
	text-align: left;
	font-size: 13px;
	margin-top: 10px;
	margin-left: 20px;
	display: block;
	color: #666;
	font-family: 'Noto Sans Thai', sans-serif;
  }
  .input-email,
  .input-password {
	width: 100%;
	background: #ededed;
	border-radius: 25px;
	margin: 4px 0 10px 0;
	padding: 10px;
	display: flex;
  }
  .icon {
	padding: 4px;
	color: #666;
	min-width: 30px;
	text-align: center;
  }
  input[type="email"],
  input[type="password"] {
	width: 100%;
	border: 0;
	background: none;
	font-size: 16px;
	padding: 4px 0;
	outline: none;
  }
  button[type="submit"] {
	width: 100%;
	border: 0;
	border-radius: 25px;
	padding: 14px;
	background: #A27B5C;
	color: #FFF;
	display: inline-block;
	cursor: pointer;
	font-size: 16px;
	font-weight: bold;
	margin-top: 10px;
	transition: ease all 0.3s;
  }
  button[type="submit"]:hover {
	opacity: 0.9;
  }
  .background {
	width: 70%;
	padding: 40px;
	height: 100vh;
	background-image: url("../img/backgroundLogin.jpg");
	background-size: cover;
	display: flex;
	flex-wrap: wrap;
	align-items: flex-end;
	justify-content: flex-end;
	align-content: center;
	flex-direction: row;
  }
  .background h1 {
	max-width: 420px;
	color: #FFF;
	text-align: right;
	padding: 0;
	margin: 0;
  }
  .background p {
	max-width: 650px;
	color: #1a1a1a;
	font-size: 15px;
	text-align: right;
	padding: 0;
	margin: 15px 0 0 0;
  }
  .created {
	margin-top: 40px;
	text-align: center;
  }
  .created p {
	font-size: 13px;
	font-weight: bold;
	color: #008552;
  }
  .created a {
	color: #666;
	font-weight: normal;
	text-decoration: none;
	margin-top: 0;
	font-family: 'Noto Sans Thai', sans-serif;
  }
  .checkbox label {
	display: inline;
	margin: 0;
	font-family: 'Noto Sans Thai', sans-serif;
  }