<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
        index
        {% endblock %}
    </title>
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    <link rel="stylesheet" href="/static/style/style.css">
</head>
<body>
    {% block navbar %}
    <section id="header">
        <a href="#"><img src="/static/webAccessories/logo.png" alt=""></a>
        <div>
            <ul id="navbar">
                <li><a class="active" href="#">หน้าหลัก</a></li>
                <li><a href="#">ค้นหา</a></li>
                <li><a href="#">ร้านค้า</a></li>
                <li><a href="#">เกี่ยวกับเรา</a></li>
                <li><a href="#"><i class="fa-solid fa-user"></i></a></li>
            </ul>
        </div>
    </section>
    {% endblock %}


    {% block body %}

    <section id="hero">
        <h4>ค้นหาเสื้อผ้าที่ใช่ในแบบที่คุณชอบด้วย</h4>
        <h1>Reverse Image Search</h1>
        <a href="search.html">
        <button>Search Now</button>
    </a>
    </section>
    
    {% endblock %}
</body>
</html>